* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #264653;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

button:active {
  background-color: rgb(209, 209, 209);
}